<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="~/css/Client/PaymentConfirm.css">
    <link rel="stylesheet" href="~/css/Layouts/master.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/79ebbbb4e2.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="container2">
            <img src="~/Media/Café.png" alt="Logo cafe">

        </div>
        <div class="container2">
            <h1>Reserva pagada con éxito</h1>
            <i class="fa-regular fa-circle-check"></i>

            <a href="@Url.Action("HistorialReservas","HistorialReservas")" class="btn primary" id="btn-reservations-list">Ver mis reservas</a>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/PaymentConfirm.js"></script>

</body>
</html>
