@{
    Layout = "../Shared/_LayoutClient.cshtml";
    ViewBag.Title = "Pago de reserva";
}
@section Styles {
    <link href="/css/Client/PaymentBill.css" type="text/css" rel="stylesheet" />
}

@* @section Scripts{
    <script src="https://www.paypal.com/sdk/js?client-id=AahPBpw7V7_jnnCq8MFvNBBNoiYdL0ZOrkzzN7JU3YULXjUaTSHfv6AdoS--reBnXWDhmFXSLVz_dqhW"></script>
} *@

<h1>Historial Reservas</h1>

