@{
    Layout = "../Shared/_LayoutEmployee.cshtml";
    ViewBag.Title = "Inicio";
}
@section Styles {
    <link href="/css/MenuEmployee.css" type="text/css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/MenuEmployee.js"></script>
    <script src="https://kit.fontawesome.com/79ebbbb4e2.js" crossorigin="anonymous"></script>
}
<main>
    <h1>Paquetes</h1>
    <div class="container-packages">
        
        
    </div>
</main>