@{
    Layout = "../Shared/_LayoutEmployee.cshtml";
    ViewBag.Title = "Modificacion de Paquete";
}
@section Styles {
    <link href="/css/MenuEmployee.css" type="text/css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/PackageDelete.js"></script>
    <script src="https://kit.fontawesome.com/79ebbbb4e2.js" crossorigin="anonymous"></script>
}
<main>
    <div id="name" class="form-services">
    </div>
    <div id="services-container" class="form-services">
    </div>
    <div class="form-row">
        <button class="btn primary" id="btn-continue">Agregar</button>
    </div>
</main>