@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Lista de mascotas";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/UsersList.css">
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/ClientsList.js"></script>
}

    <h1>Lista Mascotas</h1>
