<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Footer.css">
</head>
<body>
    <footer>
        <div class="contenedor-footer">
            <div class="img-footer">
                <img class="imagen-footer" src="~/Media/logo.png" alt="">
            </div>
            <div class="redes-footer">
                <p class="font-color">Redes Sociales</p>
                <div class="contenedor-redes">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </div>
            <div class="contactenos-footer">
                <p class="font-color">Contactenos<p></p>
                <p class="font-color">Correo:info@mugiwara.com<p></p>
                <p class="font-color">Teléfono:63235258<p></p>
            </div>
        </div>
        <div class="derechos">
            <p class="font-color derechos-elementos">© 2023 Derechos reservados - Mugiwara S.A.</p>
        </div>
    </footer>
</body>
</html>