
/*contenido*/

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    margin: 6%;
    color: var(--color-dark-brown);
    font-weight: 200;
    font-size: 48px;
    text-align: center;
}

header {
    z-index: 1;
}



.contenedor {
    height: auto;
}

.container-content {
    width: 100%;
    padding: 0 10%;
}
/*Tabla formulario*/

.formularioModificar {
    padding: 9%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 4%;
}

.menu-lateral {
    height: auto;
}

input, select {
    width: 220px;
    height: 33px;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    border: none;
    border-bottom: 1px solid #97533E;
}

    input:focus {
        background-color: var(--bg-color);
    }

.form-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.form-row2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 35px;
}

li {
    margin: 2px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

btn-container {
    width: 100%;
}



.specialAspects {
    width: 500px;
}

button {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    background-color: #8B4513;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 2px; /* Añadimos un margen superior */
}

.checkbox-container {
    display: flex;
}

.input-error {
    border: 2px solid red !important;
}


.input-container-services {
    width: 200px;
    background-color: var(--bg-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
}

.custom-checkbox {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    display: flex;
    ;
}

    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #97533E;
    border-radius: 50%;
}

.custom-checkbox input:checked ~ .checkmark:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #97533E;
    border-radius: 50%;
}

.btn-container {
}

.text {
    display: flex;
    align-items: center;
}

.form-services {
    display: flex;
    justify-content: center;
    width: 800px;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

.popup-top {
    background-color: #A5B463;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

    .popup-top img {
        max-width: 100%;
    }

.popup-bottom {
    padding: 20px;
    text-align: center;
}

    .popup-bottom h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .popup-bottom p {
        font-size: 16px;
        margin-bottom: 20px;
    }


/*.buttons .cancel {
    color: #795548;*/ /*Color del texto para el botón Cancelar*/
/*background-color: transparent;*/ /*Fondo transparente */
/*border: 2px solid #795548;*/ /*Borde del botón */
/*}*/



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    z-index: 999; /* Asegura que esté por encima del resto de los elementos */
}

#message {
    width: 1000px;
}

body {
}

.container-content {
    width: 100%;
    padding: 0 10%;
}
/*Tabla formulario*/



.title {
    color: var(--color-dark-brown);
    font-size: 40px;
}



.form-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

h1 {
    font-weight: 200;
    text-align: center;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-packages {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    justify-content: space-evenly;
}

.container-packages2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8px;
}

    .container-packages2 p {
        color: var( --color-dark-brown);
        font-size: 32px;
    }

    .container-packages2.checked p {
        color: white;
        font-size: 32px;
    }

.package {
    background-color: var( --bg-color);
    display: flex;
    border-radius: 15px;
    width: 250px;
    flex-direction: column;
}

    .package.checked {
        background-color: var( --color-light-brown);
        display: flex;
        border-radius: 15px;
        width: 250px;
        flex-direction: column;
    }

.package2 {
    background-color: white;
    display: flex;
    border-radius: 15px;
    width: 250px;
    flex-direction: column;
}

.radio {
    background-color: var(--bg-color);
    display: flex;
    border-radius: 15px;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
}

    .radio.checked {
        background-color: var( --color-light-brown);
        display: flex;
        border-radius: 15px;
        width: 250px;
        flex-direction: column;
        align-items: flex-start;
    }

.input-radio {
    accent-color: var(--color-dark-brown);
    width: 7%;
    margin-left: 18px;
    margin-bottom: -10px;
}

.name {
    color: var( --color-light-brown);
    font-size: 32px;
    padding: 0 0 10px 25px;
}

.subname {
    color: var( --color-light-brown);
    font-size: 32px;
    padding: 14px;
    width: 70%;
}

.icon-pencil {
    padding: 14px;
    width: 35%;
}

.services {
    color: black;
    font-size: 16px;
    display: flex;
}

    .services.checked {
        color: white;
        font-size: 16px;
        display: flex;
    }

    .services ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .services li {
        padding-left: 20px;
        position: relative;
    }

.fa-pen-to-square {
    color: var(--color-light-brown);
    font-size: 18px
}

.fa-trash {
    color: var(--color-light-brown);
    font-size: 18px;
}

.fa-circle-plus {
    color: var(--color-light-brown);
    font-size: 18px;
}

.services li::before {
    content: '\2022';
    font-size: 16px;
    position: absolute;
    left: 0;
}

.form-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.form-services {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}



.checkbox-container {
    display: flex;
}





.custom-checkbox {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    display: flex;
    ;
}

    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #97533E;
    border-radius: 50%;
}

.custom-checkbox input:checked ~ .checkmark:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #97533E;
    border-radius: 50%;
}
